/** Stylus Styles */
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $light-blue.darken-2
  accent: $light-blue.accent-2
  secondary: $blue-grey.lighten-2
  info: $pink.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.darken-1
}

@require '../../node_modules/vuetify/src/stylus/main'


.big_loader {
  width: 100%;
  min-height: 100px;
  margin: 100px 0
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}